SPRING_PROFILES_ACTIVE=
DB_HOST=postgres
DB_PORT=5432
DB_NAME=cloud_storage
DB_USER=your_user
DB_PASSWORD=your_password
MINIO_URL=http://minio:9000
MINIO_ROOT_USER=your_user
MINIO_ROOT_PASSWORD=your_password